# Pandas 


## Install and importing 

`pip install pandas` # for installation, assuming that this is already done

`import pandas as pd; # in the code`

further we get a data set to munch upon. There are two flavors of it 
1d data set =  and 2d data set. 


## Panda playgrounds where you can learn
1. [Perfect you Pandas skills on Kaggle](https://www.kaggle.com/learn/pandas)
1. [10 minutes to pandas](https://pandas.pydata.org/pandas-docs/version/0.19/10min.html)

In [2]:
import pandas as pd

## Pandas
1. Essentially 3 data structures, series, dataframe, panels
	1. Series is 1D, like a column, 
	3. DataFrame is like 2D, worksheet
	4. Panel is 3d, like a excel file, multiple worksheets.

## Help when you are lost

In [ ]:
df1.         #press tab

In [ ]:
df1.add? #get help

## Series

1. This is a list, it can either Stirings or numebrs  or both. It has index and a label. Index is integer sequence and starts with 0, while label is another set of strings making this a key value pair. 
3. Define - 
	1. `animals = ["tiger", "bear", "moose"]` 
	2. make it mixed `animals = ["tiger", "bear", 1, None]` 
	3. Note for both cases when it is string and it is mixed, the underlying type is `dtype: object`
	4. Printing `pd.Series(animals)`or `s.head()`
	5.  Creating using labels `animals = ["tiger", "bear", "moose"]` 
	6.  Defining a series with existing list or tuple or  dictionary. 
4. The definition of Series API is `pd.Series(data=None, index=None, dtype=None, name=None, copy=False, fastpath=False)[source]`

In [ ]:
# Defining using dic
lidata = ['a', 'b', 'c']
tudata = ('b', 'c', 'd')
didata = {'Kite': 'paper',
          'Chair': 'wood',
          'Notebook': 'paper',
          'Mirror': 'glass'}

li = pd.Series(lidata) # all works
print(li) #print it. 
tu = pd.Series(tudata)
print(tu)

#Invoking the api
ingreds = pd.Series({'Flour': '4 cups', 'Milk':'1 cup', 'Eggs': '2 large', 'Spam': '1 can'}, name='Dinner')
ingreds

In [18]:
# 4.  Defining index in series. 
# 	1. Index is a list so would be defined by `[]` and can contain only strings. 
# 	2. If List or tuple is being used index would have to contain exact number of arguments. 
# 	3. If dict is being used index is already defined as the keys of ht edict and those are used. 
#        This is like a query and not a creation.
# Series creation with index
s = pd.Series([0, 1], index = ['malignant', 'benign'])
s

malignant    0
benign       1
dtype: int64

In [7]:
#Adding a value
import pandas as pd
input = pd.Series([1,2,3,4,5])
input[len(input)] = 7
input

0    1
1    2
2    3
3    4
4    5
5    7
dtype: int64

In [8]:
#if input is defined as []
input2 = [1, 2]
#input2[len(input2)] = 3 # does not work
input2.append(3) #works
input2

[1, 2, 3]

In [12]:
# Define using copy
d1 = input2.copy() # or us deepcopy()
# Can be used on df as well
d1

[1, 2, 3]

In [17]:
#More series creation 
#creating from random.  
import numpy as np
s = pd.Series(np.random.randint(0, 1000, 10000))
s

0       300
1       491
2       614
3       688
4       251
       ...
9995    493
9996    538
9997    237
9998    382
9999    209
Length: 10000, dtype: int32

5.  Query - either by index or index label.  There are two attributes to do this `iloc` and `loc` MNote these are not methods. They are attributes so usages are `s.iloc[3] or s.loc['Notebook']`
	 1. `s.iloc['2']` is error as we require int here as these are index. 
	 2. `s.['3']` can work on dictionary having key `'3'` else it will throw error.
	 3. There is confusion if we are trying to index or we are referrind to keys, hence it isbetter to use loc and iloc. 
	 
6. Working with the series
	1.  Do not iterate, use Vector methods
	2.  use numpy for the methods and pass them the series `import numpy as np`  `total = np.sum(s)` gives us summ of all numbers of s. Similarly `mean, min, max, std`
	3. `s+=2` increases all elements by 2, similary `-=, *= /=`
	4. `len(s)` gives the length of s

## Data frame
 
### Creating data frames

In [19]:
#Creating directly using a DataFrame
fruits = pd.DataFrame({'Apples': [30], 'Bananas': [21]})
fruits

   Apples  Bananas
0      30       21

In [20]:
# More bigger dictionaries
df1 = pd.DataFrame({'Rob': ['Very good.', 'Not so good.'], 'Rick': ['Awesome.', 'Boring.']}, index=['Row name1', 'Row name2'])

# Note this index=['Product A', 'Product B'] is optional. 
## Nog
df1

                    Rob      Rick
Row name1    Very good.  Awesome.
Row name2  Not so good.   Boring.

In [57]:
#Note the dataFrame is created row in transposed way, that is we write all the columns first.

#The syntax is **pd.DataFrame(dict, indexList}** - example 

df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [58]:
#Suppose we set the index incorrectly  and require to correct it
df1 = df # we use a copy of df
df1 = df1.set_index([pd.Index(['Good', 'Bad', 'Ugly'])]) # this denotes some of the columns as index

# how to remove an index
df1 = df1.drop(['Good']) 

# add the old indexs as columns
df1.reset_index
df1

      max_speed  shield
Bad           4       5
Ugly          7       8

In [59]:
#add some existing index as columns
df1 = df
df1['index1'] = df1.index   # this does not give intended results sometimes
df1

            max_speed  shield      index1
cobra               1       2       cobra
viper               4       5       viper
sidewinder          7       8  sidewinder

In [64]:
#add some existing index as colums 
df1 = df
df1.reset_index(level=0, inplace=True) # better results.

df1

   level_0       index  max_speed  shield      index1
0        0       cobra          1       2       cobra
1        1       viper          4       5       viper
2        2  sidewinder          7       8  sidewinder

In [67]:
#change the  columns names, this is handy sometimes
df2 = pd.DataFrame({'Rob': ['Very good.', 'Not so good.'], 'Rick': ['Awesome.', 'Boring.']}, index=['Row name1', 'Row name2'])

df2.rename(columns={'Rob':'Henry1',
                          'Rick':'James1'}, inplace=True)
df2

                 Henry1    James1
Row name1    Very good.  Awesome.
Row name2  Not so good.   Boring.

In [66]:
#OTher ways to rename all columns
df1.columns = ['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable','some name']  # requires names for all cols
df1

   Country Energy Supply  Energy Supply per Capita  % Renewable   some name
0        0         cobra                         1            2       cobra
1        1         viper                         4            5       viper
2        2    sidewinder                         7            8  sidewinder

### Get a summary and views
**we use head(), tail(), describe() and variables like dtypes, index, columns, values.**

In [68]:
df1.describe() # gives a stat of the df1, very informative

       Country  Energy Supply per Capita  % Renewable
count      3.0                       3.0          3.0
mean       1.0                       4.0          5.0
std        1.0                       3.0          3.0
min        0.0                       1.0          2.0
25%        0.5                       2.5          3.5
50%        1.0                       4.0          5.0
75%        1.5                       5.5          6.5
max        2.0                       7.0          8.0

In [69]:
df1.dtypes # gives the types within the cols

Country                      int64
Energy Supply               object
Energy Supply per Capita     int64
% Renewable                  int64
some name                   object
dtype: object

In [70]:
df1.values # gives the raw matrix

array([[0, 'cobra', 1, 2, 'cobra'],
       [1, 'viper', 4, 5, 'viper'],
       [2, 'sidewinder', 7, 8, 'sidewinder']], dtype=object)

In [71]:
df1.index # gives the index
df1.index[0] # gives the first index

0

In [72]:
df1.columns # gives the names of columns

Index(['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable',
       'some name'],
      dtype='object')

### Slicing and dicing, sorting

In [ ]:
# Note some of slicing and dicing gets done on the original 
df1.Rob # Note here we use the col name as values. Rather than this method we shall use the [] method

In [ ]:
df1['Rob'] # this is same as df1.Rob, however,in this syntax we can use " ", it is wordy

**iloc** and **loc**, these are two important operators, not methods. iloc is index location while loc is just location.  These are used to locate a particular item. 
Note: both loc and iloc are row-first, column-second and this is opposite of python.

Arguments of iloc 
iloc arguments have parts each of which can be the following
```
a single item - 0
a range 0:1
a list [0, 1, 3]
all the range :
```
thus all of these as are possible. 

`iloc[:, [0,1,2]]`

`iloc[0, :]`


**Arguments of loc**
loc arguments expects similar arguments as iloc. 
example - 
`df = df1.loc[[0,1,10,100], ['country', 'province', 'region_1', 'region_2']]` # give rows 0, 1, 10, 100 and the cols as cited. 

**Conditiional arguments** 
`df1.loc[df1.Rob == 'Some value']`

`df1.loc[(df1.Rob == 'Some value') & (df1.SomeOtherCol == 'Some other val')]`

` conditional operators == != | & are supported.`
**Note it is not &&**

** isin operator
df1.loc[df1.Rob.isin(['val1', 'val2'])]  # get me thos records from df1 whose Rob colums have either val1 or val2.

In [ ]:
s = df1['Rob'].iloc[0]
s

In [ ]:
s = df1.Rob.iloc[0]
s

In [ ]:
s = df1['Rob'][0] # df1.Rob gives a colums and hence adding a [] gives a item. 
s

In [ ]:
#**Row accessing** 
s = df1.iloc[0]
s

In [ ]:
s = df1.loc['Row name 1'] # gives an error, row names have to be exact.
s

In [ ]:
s = df1.loc['Row name1']
s

In [ ]:
s = df1.loc[:, ['Rob']]
s

In [ ]:
df1.loc[df1.Rob == 'Very good.'] # return the row where the col Rob equals those values.

In [ ]:
df1[2:4] # this returns nothing as there is no data

### Sorting and SQL styles
`sort_values() to sort by column(s)`

`sort_index() to sort by the index`

In [ ]:
list_of_cols = ['Rob']
df1.sort_values(list_of_cols, ascending=True) # Sorting based on columns

In [ ]:
#Sorting based on index
df1.sort_index(ascending = False)

In [ ]:
#Where clause 
df.where(df['SUMLEV']==50)
    .dropna()
    .set_index(['STNAME','CTYNAME'])
    .rename(columns={'ESTIMATESBASE2010': 'Estimates Base 2010'}))
    
#Note - dropna() it drops any rows where there is a NA, with args it can work on specific cols.
    
df = df[df['SUMLEV']==50]  # filter based on SUMLEV col keep only rows where it is 50

#group by clause
df.groupby('A').sum()

#interesting application of groupby clause
df = df.set_index('STNAME')

def fun(item):
    if item[0]<'M':
        return 0
    if item[0]<'Q':
        return 1
    return 2

for group, frame in df.groupby(fun):
    print('There are ' + str(len(frame)) + ' records in group ' + str(group) + ' for processing.')

We see that there are no data, so how do we add some data to existing stuff. 
### Adding values to dataframes 
Way 1 - use the array notation df['Col'] = 'val' # sets all the values to val
Way 2 - populate with a range of values df.Col = range(0, len(df), 1)

In [ ]:
df1["New col"] ={"new value1", "new value 2"} # adds a new col
df1

In [ ]:
#Adding a new row
#df1.append()

Now that we have more values, we look at the conditional operators

### Conditional operators

In [ ]:
`df1.loc[df1.Rob == 'Some value']`
'reviews.loc[reviews.price.notnull()]

### Accessing  the values from a df

In [ ]:
#Get the column
s = df1['Rob']
s

#Get the first item from the first col
s = df1['Rob'][0]
s

In [5]:
#Max min operations 
def answer_one():
    s = df.loc[df.Gold == df['Gold'].max()] # gets the row having the max
    return s
answer_one()

#Another function argmax gives us the index 
result = Top15['% Renewable'].argmax()   #gives the row which is the max()

NameError: name 'df' is not defined

### Assigning values 
this is selection of the cells and transformation and application fo the values. 
`e['Energy Supply'].replace(['...'], [np.NaN], inplace=True)` # find the values ... and replace by NaN

`w.female.replace(['male', 'female'], [1, 0], inplace=True)` # do the replace for multiple data with new data

`e['Energy Supply'] = 1000000*e['Energy Supply']` # multiple a whole column

`e['Country'] = e['Country'].str.replace(r" \(.*\)","")` find patterna nd replace

``` Replace using a dic

    new_name={"Republic of Korea": "South Korea",
                  "United States of America": "United States",
                  "United Kingdom of Great Britain and Northern Ireland": "United Kingdom",
                  "China, Hong Kong Special Administrative Region": "Hong Kong"}
    e['Country'].replace(to_replace=new_name, inplace=True)
```

### Drop rows and colums
`df.drop(['B', 'C'], axis=1)`  #droping by labels - axis = 0 means rows, 1 means cols

`g = g.drop(g.columns[2:48], axis = 1)` # drop columns by index, drop the columns 2 to 48

### Using maps, apply and lambdas
use df.apply can be used.  [apply official](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.apply.html?highlight=apply#pandas.DataFrame.apply)

In [ ]:
df.apply(np.sqrt) # do a square root of all elements of all columns, axis = 0 by default

df.apply(np.sum, axis=0) # as a reducing function 

#In this call we are change the 'PR' column itself. 
sample['PR'] = sample['PR'].apply(lambda x: np.nan if x < 90 else x) # note the receiving array need not be the same

#create a new colm spliting the value of exiting col
# could be applied to all sort of string operation or any operations
dfmax['d'] = dfmax['Date'].apply(lambda x: (x[:4]))

# Here is a one liner
df['left'],df['right'] = zip(*df[0].apply(lambda x: x.split('|')))

# Another example of the one line done in Ass 2 of Applied -- 
dfmin1['Year'], dfmin1['Month-date'] = zip(*dfmin['Date'].apply(lambda x: (x[:4], x[5:])))

[Pandas string operations](https://pandas.pydata.org/pandas-docs/stable/user_guide/text.html)

lstrip(), rstrip(), strip(), lower(), split(), rsplit(), replace

In [ ]:
# Some string operations 
# find reg match and add the match as a column 
import re
mylist = states['Flag']
pattern = '|'.join(mylist)
pattern

def pattern_searcher(search_str:str, search_list:str):

    search_obj = re.search(search_list, search_str)
    if search_obj :
        return_str = search_str[search_obj.start(): search_obj.end()]
    else:
        return_str = 'NA'
    return return_str


#data10 = pd.read_csv("2010-2020-wikipedia-data.csv", encoding= 'unicode_escape')
data10 = pd.read_excel('2010-2020-wikipedia-data.xlsx', skiprows=4 )

# Data cleaning, the issue is that the region is sometimes a state and other times all the affected states or region. 
# We retain the first matching state as the representative state for the data row.

#data10['RepresentativeState'] = 
data10['RepresentativeState'] = data10['Region'].apply(lambda x: pattern_searcher(search_str=x, search_list=pattern))
data10

In [ ]:
#Nan and null setting and comparisions 
#set stuffs to null 
np.NaN

String null 
pd.isnull(data["Name"])  # check Name col where string is null
df.notnull() 

#Checking 
pd.isna(pd.NA) #true is if pd.NA
pd.isna(np.nan)

# fill nulls in a dataset
df.fillna("some value")   or df.fillna(0)
df.fillna(method ='bfill') # back fill
df.fillna(method ='pad') # pad fill
data.replace(to_replace = np.nan, value = -99)

In [1]:
#Date time funcitons
#reading date direclty time from file 
#https://honingds.com/blog/pandas-read_csv/#parsedates)
df = pd.read_csv("f500_new.csv" , encoding = "iso-8859-1", parse_dates = ['date_col'] , 
date_parser = mydateparser)
#other arguments
keep_date_col=true # keeps the exisitng col as well
infer_datetime_format=true #pandas tries to figure the format.
#example
data00 = pd.read_excel('2000-2010-wikipedia-data.csv', skiprows=3, parse_dates = ['Dates'], keep_date_col=True, infer_datetime_format=True)


#Some parsing 
dfmin1['Year'], dfmin1['Month-date'] = zip(*dfmin['Date'].apply(lambda x: (x[:4], x[5:])))
dfmax['d'] = dfmax['Date'].apply(lambda x: (x[:4]))

#using strptime, regex for date time
dt_object1 = datetime.strptime(dt_string, "%d/%m/%Y %H:%M:%S")

#formatting dates from February 14-21, 2000 to Februar 14, 2000
data00 = data00.replace(to_replace='–[0-9][0-9]', value='', regex=True)

SyntaxError: invalid syntax (<ipython-input-1-b1b66ea5aaef>, line 3)

### Advanced stat functions

In [6]:
# correlation - dataframe.corr() givs pairwise correlation of columns - example 
data = Top15[['cdpp','Energy Supply per Capita']] # example two row df containing data
corr = data.corr(method='pearson').iloc[0,1] # computes the correlation by pearson method

NameError: name 'Top15' is not defined

### the iloc and loc gotcha 
#df = reviews[['country', 'variety']].iloc[0:100] 
#df = reviews.loc[0:99, ['country', 'variety']]
are the same however, one uses 0:99 and other uses 0:100 why

### Data type conversion
How to get the data types and convert from one another

In [ ]:
df1.dtypes # get the types

In [ ]:
df1 = df1.astype("string") # converts to object

str(df1)  # prints a string of all the stuff 

k = str(df1.iloc[0, 0])

type(k)

In [ ]:
# Convert Series to list

df1

In [ ]:
# Convert a string in int
df['DataFrame Column'] = df['DataFrame Column'].astype(int)

### Merging data frames 
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)  #outer join 

how can be `outer` `inner`, `left`, `right` 

exisiting index of the df can be used - left_index and right_index equals tells that use the indexes of the df. A beeter way is to use left_on and right_on which requires the column names. This explicity tells the developer the join axis, hence better in that way.

In [ ]:
pd.merge(staff_df, student_df, how='outer', left_index=True, right_index=True)

### Check the execution times
%%timeit -n 10

## Input and Output
With Pandas it is possible to read from multiple sources, for example, CSV, HTML, JSON. 

[Official guide](https://pandas.pydata.org/pandas-docs/stable/user_guide/io.html)

In [ ]:
#Reading from csv file
reviews = pd.read_csv("../input/wine-reviews/winemag-data_first150k.csv")
## the file would have to be present in the directory. 
## The method is quite versatile and here are few important aspects
# index_col=0 - set this if the file already has an index column.

#Unicode error - this can happen if there are non uni chars
data = pd.read_csv(filename, encoding= 'unicode_escape')

In [ ]:
#Saving the df to a file
df.to_csv('foo.csv')

In [3]:
# reading from Excel file. 
# skip rows = header rows to skip. footer = footer rows to skip. use_cols = cols to take
energy = pd.read_excel('Energy Indicators.xls', sheet_name='Energy', skiprows =16, skipfooter=38, use_cols="C:F")

NameError: name 'pd' is not defined

### Begining a project
Here are few heuristics that saves lot of time

1. Begin by taking in data being read from data file. 
2. Create a data frame
1. Check the object type of the data, 
    1. df.dtypes # check the data type and the cols, as saves a call to df.columns
    1. df.shape  # size of matrix
    1. df.head() # actual data
    1. df.describe() # if it has numeric values and we are directly going to use stats
1.

# Pandas Visualization

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib notebook

In [ ]:
# see the pre-defined styles provided.
plt.style.available

In [ ]:
# use the 'seaborn-colorblind' style
plt.style.use('seaborn-colorblind')

### DataFrame.plot

In [ ]:
np.random.seed(123)

df = pd.DataFrame({'A': np.random.randn(365).cumsum(0), 
                   'B': np.random.randn(365).cumsum(0) + 20,
                   'C': np.random.randn(365).cumsum(0) - 20}, 
                  index=pd.date_range('1/1/2017', periods=365))
df.head()

In [ ]:
df.plot(); # add a semi-colon to the end of the plotting call to suppress unwanted output

We can select which plot we want to use by passing it into the 'kind' parameter.

In [ ]:
df.plot('A','B', kind = 'scatter');

You can also choose the plot kind by using the `DataFrame.plot.kind` methods instead of providing the `kind` keyword argument.

`kind` :
- `'line'` : line plot (default)
- `'bar'` : vertical bar plot
- `'barh'` : horizontal bar plot
- `'hist'` : histogram
- `'box'` : boxplot
- `'kde'` : Kernel Density Estimation plot
- `'density'` : same as 'kde'
- `'area'` : area plot
- `'pie'` : pie plot
- `'scatter'` : scatter plot
- `'hexbin'` : hexbin plot

In [ ]:
# create a scatter plot of columns 'A' and 'C', with changing color (c) and size (s) based on column 'B'
df.plot.scatter('A', 'C', c='B', s=df['B'], colormap='viridis')

In [ ]:
ax = df.plot.scatter('A', 'C', c='B', s=df['B'], colormap='viridis')
ax.set_aspect('equal')

In [ ]:
df.plot.box();

In [ ]:
df.plot.hist(alpha=0.7);

[Kernel density estimation plots](https://en.wikipedia.org/wiki/Kernel_density_estimation) are useful for deriving a smooth continuous function from a given sample.

In [ ]:
df.plot.kde();

### pandas.tools.plotting

[Iris flower data set](https://en.wikipedia.org/wiki/Iris_flower_data_set)

In [ ]:
iris = pd.read_csv('iris.csv')
iris.head()

In [ ]:
pd.tools.plotting.scatter_matrix(iris);

In [ ]:
plt.figure()
pd.tools.plotting.parallel_coordinates(iris, 'Name');

# Seaborn

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib notebook

In [ ]:
np.random.seed(1234)

v1 = pd.Series(np.random.normal(0,10,1000), name='v1')
v2 = pd.Series(2*v1 + np.random.normal(60,15,1000), name='v2')

In [ ]:
plt.figure()
plt.hist(v1, alpha=0.7, bins=np.arange(-50,150,5), label='v1');
plt.hist(v2, alpha=0.7, bins=np.arange(-50,150,5), label='v2');
plt.legend();

In [ ]:
# plot a kernel density estimation over a stacked barchart
plt.figure()
plt.hist([v1, v2], histtype='barstacked', normed=True);
v3 = np.concatenate((v1,v2))
sns.kdeplot(v3);

In [ ]:
plt.figure()
# we can pass keyword arguments for each individual component of the plot
sns.distplot(v3, hist_kws={'color': 'Teal'}, kde_kws={'color': 'Navy'});

In [ ]:
sns.jointplot(v1, v2, alpha=0.4);

In [ ]:
grid = sns.jointplot(v1, v2, alpha=0.4);
grid.ax_joint.set_aspect('equal')

In [ ]:
sns.jointplot(v1, v2, kind='hex');

In [ ]:
# set the seaborn style for all the following plots
sns.set_style('white')

sns.jointplot(v1, v2, kind='kde', space=0);

In [ ]:
iris = pd.read_csv('iris.csv')
iris.head()

In [ ]:
sns.pairplot(iris, hue='Name', diag_kind='kde', size=2);

In [ ]:
plt.figure(figsize=(8,6))
plt.subplot(121)
sns.swarmplot('Name', 'PetalLength', data=iris);
plt.subplot(122)
sns.violinplot('Name', 'PetalLength', data=iris);